controller_manager:
  ros__parameters:
    update_rate: 60  # Hz

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    diffbot_base_controller:
      type: diff_drive_controller/DiffDriveController

    # imu_sensor_broadcaster:
    #   type: imu_sensor_broadcaster/IMUSensorBroadcaster

diffbot_base_controller:
  ros__parameters:
    left_wheel_names: ["rear_left_wheel_joint","front_left_wheel_joint"]
    right_wheel_names: ["rear_right_wheel_joint","front_right_wheel_joint"]

    wheel_separation: 0.2
    wheels_per_side: 2  # actually 2, but both are controlled by 1 signal
    wheel_radius: 0.048

    wheel_separation_multiplier: 1.696
    left_wheel_radius_multiplier: 1.0
    right_wheel_radius_multiplier: 1.0

    publish_rate: 60.0
    odom_frame_id: odom
    base_frame_id: base_link
    pose_covariance_diagonal : [0.001, 0.001, 0.001, 0.001, 0.001, 0.01]
    twist_covariance_diagonal: [0.001, 0.001, 0.001, 0.001, 0.001, 0.01]

    open_loop: false
    enable_odom_tf: false

    cmd_vel_timeout: 0.5
    publish_limited_velocity: true
    use_stamped_vel: false
    #velocity_rolling_window_size: 10

    # Velocity and acceleration limits
    # Whenever a min_* is unspecified, default to -max_*
    linear.x.has_velocity_limits: true
    linear.x.has_acceleration_limits: true
    linear.x.has_jerk_limits: false
    linear.x.max_velocity: 0.4
    linear.x.min_velocity: -0.4
    linear.x.max_acceleration: 2.0
    linear.x.max_jerk: 0.0
    linear.x.min_jerk: 0.0

    angular.z.has_velocity_limits: true
    angular.z.has_acceleration_limits: true
    angular.z.has_jerk_limits: false
    angular.z.max_velocity: 3.9
    angular.z.min_velocity: -3.9
    angular.z.max_acceleration: 8.0
    angular.z.min_acceleration: -8.0
    angular.z.max_jerk: 0.0
    angular.z.min_jerk: 0.0

joint_state_broadcaster:
  ros__parameters:
    use_local_topics: false
    
# imu_sensor_broadcaster:
#   ros__parameters:
#     sensor_name: mpu6050
#     frame_id: camera_link