<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="murin_bringup">

    <xacro:include filename="2wd/robot_core.2wd.xacro" />

    <xacro:include filename="2wd/ros2_control.2wd.xacro" />

    <xacro:include filename="accessories/lidar.xacro" />
    <!-- <xacro:include filename="accessories/camera.xacro" /> -->
    <xacro:include filename="accessories/dept_camera.xacro" />
    <xacro:include filename="accessories/imu.xacro" />

</robot>